<div class="server-group-subscribe-prompt">
  Hi {{ name }},
  <a class="server-group-subscribe-url" href="{{ url }}">
    {{ 'click here if you would like to subscribe to this group called'|t }} {{ label }}
  </a>.
</div>
